
# APPLICATION
APPLICATION_NAME=Auth-Application
APPLICATION_PORT=8000

# KEYCLOAK
KEYCLOAK_CLIENT_ID=demo-app
KEYCLOAK_CLIENT_SECRET=xxx
KEYCLOAK_REALM=demo-realm
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/${KEYCLOAK_REALM}